*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            border: none;
            text-decoration: 0;
        }
        body {
            font-family: 'Times New Roman', Times, serif;       
            background-color: #fff;              
        }
         * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            border: none;
            text-decoration: none;
        }
      html {
        scroll-behavior: smooth;
      }
      nav span {
        position: relative;
      }
      nav span .cart-number{
        text-decoration: none;
        position: absolute;
        margin-top: -8px;
        margin-left: -10px;
        color: black;
        background-color: rgb(1, 255, 14);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        align-content: center;
      }
      span {
        font-weight: bold;
        text-decoration: underline;
        color: firebrick;
      }
      .wrapper {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
      }
      header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 30px;
      }
      header img {
        width: 170px;
        height: 170px;
        padding: 20px;
      }
      nav a:nth-child(4) {
        border-right: 1px solid gray;
        margin-right: 10px;
      }
      nav .fa-solid{
        font-size: 26px ;
        color: gray;
        transition: .5s all;
        cursor: pointer;

      }
       nav .fa-solid:hover {
        color: black;
        scale: 1.2;
       }
  
      nav a {
           display: inline-block;
           color: rgb(105, 105, 105);
           font-weight: bold;
           padding: 5px 10px;
           transition: .7s all;
           font-size: 20px;
         }            
          nav a:hover {
          color: black;
          text-decoration: underline;
          text-underline-offset: 6px;
          
        }
        main .about-content > p{
          font-size: 1.3em;
          text-align: left;

        }
        .two-cols .about-content {
          text-align: left;
        }
        .four-cols div figure{
          transition: .5s all;
          width: 20%;
          cursor: pointer;
          padding: 20px;
          justify-content: space-around;
        }

        
        
          footer {
            margin-top: 200px;
            height:160px;
            width: 100%;
            background-color: rgb(245, 245, 245);
            display: flex;
            justify-content: space-evenly;
            padding: 30px;
          }
          footer div {
            text-align: left;
            display: flex;
            flex-direction: column;
            line-height: 120%;         }
          footer div h3 {
            text-align: left;
            margin-bottom: 20px;
          }
          footer div p {
            text-align: left;
          }
           footer div a {
            text-decoration: underline;
            color: black;
            color: #333;
           }
           footer div a:hover {
            color: gray;
           
           }
    



              /* ----------------MEDIA QUERIES-------------------- */
           @media (max-width: 1300px){
           

           }
           @media (max-width: 700px) and (min-width:581px){
            header img {
               width: 140px;
               height: 140px;
               padding: 20px;
             }
             }
             .three-cols {
              display: flex;
              flex-wrap: wrap;
             }
            .three-cols .left-col {
              text-align: center;
              margin: auto;
              width: 80%;
            }
            .three-cols img {
              margin-top: 10%;
              text-align: center;
              margin: auto;

            }
            .three-cols .right-col{
              text-align: center;
              margin: auto;
              width: 80%;

            }
            
            .two-cols .about-content h1 {
              font-size: 1em;
              text-align: left;
              
            }

            .two-cols div {
              margin-top: 10%;
              width: 100%;
               }
           .two-cols .second{
                  display: flex;
                  flex-direction: row;
           }
           .two-cols{
            margin-top: -5%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            

           }
            .second{
             
              padding: 3rem
            }
            .four-cols div figure{
                  transition: .5s all;
                  width: 35%;
                  cursor: pointer;
                  padding: 20px;
                  justify-content: space-around;
                  text-align: center;
                  margin: auto;
              }
            
           @media (max-width: 580px){
            header, nav {
              white-space-collapse:initial;
              display: block;
            }

            header img {
               width: 120px;
               height: 120px;
               padding: 20px;
             }
              main {
                 margin: auto;
                 text-align: center;
    
              }
             main .about-content > p{
                  font-size: 1em;

           }
           .two-cols div {
            margin-top: 10%;
              width: 100%;
              
               }
           .two-cols .second{
                  display: flex;
                  flex-direction: column;
           }
           .two-cols{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: auto;

           }
           .four-cols{
                 margin-top: 100px;
                 margin-bottom: 7%;
                 display: flex;
                 flex-wrap: wrap;
             }
             .four-cols div figure{
                  transition: .5s all;
                  width: 100%;
                  cursor: pointer;
                  padding: 20px;
                  justify-content: space-around;
                  text-align: center;
                  margin: auto;
              }
             .three-cols{
              display: flex;
              flex-direction: column;
              text-align: center;
              margin: auto;

             }
             .three-cols .text-box figure{
              width: 100%;

             }
            .three-cols .left-col {
              text-align: center;
              margin: auto;
              width: 80%;
            }
            .three-cols img {
              margin-top: 10%;
              text-align: center;
              margin: auto;

            }
            .three-cols .right-col{
              text-align: center;
              margin: auto;
              width: 80%;

            }
           
            .two-cols .about-content h1 {
              font-size: .6em;
            }

            footer {
                  margin-top: 200px;
                  height:max-content;
                  width: 100%;
                  background-color: rgb(240, 240, 240);
                  display: flex;
                  
                  justify-content: space-between;
                  padding: 30px;
               }
            footer div h3 {
                text-align: left;
                margin-bottom: 20px;
                font-size: 1em;
              }
              footer div p {
                 text-align: left;
                 font-size: .8em;
             }
             footer div a {
            text-decoration: underline;
            color: black;
            font-size: .7em;
           }
           form input::placeholder {
            font-size: .8em;
           }
             
            
           }
           
           